[Desktop Entry]
Name=VA Tray Disable Podman & Docker
Comment=Disable both podman and docker rootless
Exec=la_toolhive_thv_ui --both-disabled
Icon=/usr/share/va/podman_utils/icons/none-active.svg
Terminal=false
Type=Application
Categories=System;Utility;
